
<div class="container">
  <h2>Módulo para agregar un nuevo Evento turístico</h2>
  <form [formGroup]="crearForm" (ngSubmit)="onSubmit()">
    <!-- inicio nombre -->
    <div class="form-group">
      <label for="nombre">Nombre del Evento</label>
      <div class="input-group">
        <div class="input-group-prepend">
        <span class="input-group-text">
          <i *ngIf="crearForm.get('nombre')?.valid || !crearForm.get('nombre')?.touched" class="fas fa-user"></i>
          <i *ngIf="crearForm.get('nombre')?.invalid && crearForm.get('nombre')?.touched" class="fas fa-times-circle text-danger"></i>
        </span>
        </div>
        <input type="text" id="nombre" formControlName="nombre" placeholder="Ingresa el Nombre del Destino">
      </div>
      <div *ngIf="crearForm.get('nombre')?.invalid && (crearForm.get('nombre')?.dirty || crearForm.get('nombre')?.touched)">
        <div class="text-danger" *ngIf="crearForm.get('nombre')?.errors?.['required']">El Nombre es obligatorio.</div>
        <div class="text-danger" *ngIf="crearForm.get('nombre')?.errors?.['minlength']">El Nombre debe tener al menos 5 caracteres.</div>
        <div class="text-danger" *ngIf="crearForm.get('nombre')?.errors?.['maxlength']">El Nombre no debe exceder los 50 caracteres.</div>
      </div>
    </div>
    <!-- fin nombre -->
    <!-- inicio descripción -->
    <div class="form-group">
      <label for="descripcion">Descripción del Evento</label>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <i *ngIf="crearForm.get('descripcion')?.valid || !crearForm.get('descripcion')?.touched" class="fas fa-align-left"></i>
            <i *ngIf="crearForm.get('descripcion')?.invalid && crearForm.get('descripcion')?.touched" class="fas fa-times-circle text-danger"></i>
          </span>
        </div>
        <textarea id="descripcion" formControlName="descripcion" placeholder="Ingresa la Descripción del Destino" rows="5" class="form-control"></textarea>
      </div>
      <div *ngIf="crearForm.get('descripcion')?.invalid && (crearForm.get('descripcion')?.dirty || crearForm.get('descripcion')?.touched)">
        <div class="text-danger" *ngIf="crearForm.get('descripcion')?.errors?.['required']">La descripción es obligatoria.</div>
        <div class="text-danger" *ngIf="crearForm.get('descripcion')?.errors?.['minlength']">La descripción debe tener al menos 10 caracteres.</div>
        <div class="text-danger" *ngIf="crearForm.get('descripcion')?.errors?.['maxlength']">La descripción no debe exceder los 500 caracteres.</div>
      </div>
    </div>
    <!-- fin descripción -->
    <!-- inicio ubicación -->
    <div class="form-group">
      <label for="ubicacion">Ubicación</label>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <i *ngIf="crearForm.get('ubicacion')?.valid || !crearForm.get('ubicacion')?.touched" class="fas fa-map-marker-alt"></i>
            <i *ngIf="crearForm.get('ubicacion')?.invalid && crearForm.get('ubicacion')?.touched" class="fas fa-times-circle text-danger"></i>
          </span>
        </div>
        <input type="text" id="ubicacion" formControlName="ubicacion" placeholder="Ingresa la Ubicación" class="form-control">
      </div>
      <div *ngIf="crearForm.get('ubicacion')?.invalid && (crearForm.get('ubicacion')?.dirty || crearForm.get('ubicacion')?.touched)">
        <div class="text-danger" *ngIf="crearForm.get('ubicacion')?.errors?.['required']">La ubicación es obligatoria.</div>
      </div>
    </div>
    <!-- fin ubicación -->

    <!-- inicio imágenes -->
    <div class="form-group">
      <label for="images">Imágenes</label>
      <div class="input-group">
        <div class="input-group-prepend">
          <button class="btn btn-outline-primary mr-2" type="button" (click)="agregarNuevaImagen()" data-toggle="tooltip" data-placement="top" title="Agregar nueva imagen">
            <i class="fas fa-plus"></i>
          </button>
      <span class="input-group-text">
        <i *ngIf="crearForm.get('images')?.valid || !crearForm.get('images')?.touched" class="fas fa-image"></i>
        <i *ngIf="crearForm.get('images')?.invalid && crearForm.get('images')?.touched" class="fas fa-times-circle text-danger"></i>
      </span>
        </div>
        <select id="images" formControlName="images" class="form-control" multiple>
          <option value="" disabled selected>Selecciona una imagen</option>
          <option *ngFor="let imagen of imagenes" [ngValue]="imagen">{{ imagen.ruta }}</option>
        </select>
      </div>
      <div *ngIf="crearForm.get('images')?.invalid && (crearForm.get('images')?.dirty || crearForm.get('images')?.touched)">
        <div class="text-danger" *ngIf="crearForm.get('images')?.errors?.['required']">Las imágenes son obligatorias.</div>
      </div>
    </div>
    <!-- fin imágenes -->

    <!-- inicio fecha y hora de creación -->
    <div class="form-group">
      <label>Fecha y Hora de Creación</label>
      <div class="input-group">
        <!-- fecha y hora de creación -->
        <div class="input-group-prepend">
      <span class="input-group-text">
        <i *ngIf="crearForm.get('fechaInicio')?.valid || !crearForm.get('fechaInicio')?.touched" class="fas fa-calendar-plus"></i>
        <i *ngIf="crearForm.get('fechaInicio')?.invalid && crearForm.get('fechaInicio')?.touched" class="fas fa-times-circle text-danger"></i>
      </span>
        </div>
        <input type="datetime-local" id="fechaInicio" formControlName="fechaInicio" class="form-control">
      </div>
      <!-- mensajes de error -->
      <div class="mt-2"> <!-- Espacio adicional para separar mensajes de error -->
        <div *ngIf="crearForm.get('fechaInicio')?.invalid && (crearForm.get('fechaInicio')?.dirty || crearForm.get('fechaInicio')?.touched)">
          <div class="text-danger" *ngIf="crearForm.get('fechaInicio')?.errors?.['required']">La fecha de hora creación es obligatoria.</div>
        </div>
      </div>
    </div>
    <!-- fin fecha y hora de creación -->

    <!-- inicio fecha y hora de actualización -->
    <div class="form-group">
      <label>Fecha y Hora de Actualización</label>
      <div class="input-group">
        <!-- fecha y hora de actualización -->
        <div class="input-group-prepend">
      <span class="input-group-text">
        <i *ngIf="crearForm.get('fechaFin')?.valid || !crearForm.get('fechaFin')?.touched" class="fas fa-calendar-check"></i>
        <i *ngIf="crearForm.get('fechaFin')?.invalid && crearForm.get('fechaFin')?.touched" class="fas fa-times-circle text-danger"></i>
      </span>
        </div>
        <input type="datetime-local" id="fechaFin" formControlName="fechaFin" class="form-control">
      </div>
      <!-- mensajes de error -->
      <div class="mt-2"> <!-- Espacio adicional para separar mensajes de error -->
        <div *ngIf="crearForm.get('fechaFin')?.invalid && (crearForm.get('fechaFin')?.dirty || crearForm.get('fechaFin')?.touched)">
          <div class="text-danger" *ngIf="crearForm.get('fechaFin')?.errors?.['required']">La fecha y hora de actualización es obligatoria.</div>
        </div>
      </div>
    </div>
    <!-- fin fecha y hora de actualización -->



    <!-- inicio precioGeneral -->
    <div class="form-group">
      <label for="costoEntrada">Costo de la Entrada</label>
      <div class="input-group">
        <div class="input-group-prepend">
      <span class="input-group-text">
        <i *ngIf="crearForm.get('costoEntrada')?.valid || !crearForm.get('costoEntrada')?.touched" class="fas fa-dollar-sign"></i>
        <i *ngIf="crearForm.get('costoEntrada')?.invalid && crearForm.get('costoEntrada')?.touched" class="fas fa-times-circle text-danger"></i>
      </span>
        </div>
        <input type="number" id="costoEntrada" formControlName="costoEntrada" placeholder="Ingresa el precio general" class="form-control">
      </div>
      <div *ngIf="crearForm.get('costoEntrada')?.invalid && (crearForm.get('costoEntrada')?.dirty || crearForm.get('costoEntrada')?.touched)">
        <div class="text-danger" *ngIf="crearForm.get('costoEntrada')?.errors?.['required']">El precio general es obligatorio.</div>
      </div>
    </div>
    <!-- fin precioGeneral -->

    <!-- inicio Destino turismo -->
    <!--

    -->
    <div class="form-group">
      <label for="destinos">Destino del evento</label>
      <div class="input-group">
        <div class="input-group-prepend">
      <span class="input-group-text">
        <i *ngIf="crearForm.get('destinos')?.valid || !crearForm.get('destinos')?.touched" class="fas fa-umbrella-beach"></i>
        <i *ngIf="crearForm.get('destinos')?.invalid && crearForm.get('destinos')?.touched" class="fas fa-times-circle text-danger"></i>
      </span>
        </div>
        <select id="destinos" formControlName="destinos" class="form-control" multiple>
          <option value="" disabled selected>Selecciona un destino</option>
          <option *ngFor="let destino of destinos" [ngValue]="destino">{{ destino.destinoName }}</option>
        </select>
      </div>
      <div *ngIf="crearForm.get('destinos')?.invalid && (crearForm.get('destinos')?.dirty || crearForm.get('destinos')?.touched)">
        <div class="text-danger" *ngIf="crearForm.get('destinos')?.errors?.['required']">El Destino del evento es obligatorio.</div>
      </div>
    </div>
    <!-- fin Destino turismo -->

    <!-- inicio tipoTurismo -->
    <div class="form-group">
      <label for="tipoTurismo">Tipo de Turismo</label>
      <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">
                <i *ngIf="crearForm.get('tipoTurismo')?.valid || !crearForm.get('tipoTurismo')?.touched" class="fas fa-umbrella-beach"></i>
                <i *ngIf="crearForm.get('tipoTurismo')?.invalid && crearForm.get('tipoTurismo')?.touched" class="fas fa-times-circle text-danger"></i>
            </span>
        </div>
        <select id="tipoTurismo" formControlName="tipoTurismo" class="form-control">
          <option value="" disabled selected>Selecciona un tipo de turismo</option>
          <option *ngFor="let tipo of tipoTurismos" [ngValue]="tipo">{{ tipo.nombre }}</option>
        </select>
      </div>
      <div *ngIf="crearForm.get('tipoTurismo')?.invalid && (crearForm.get('tipoTurismo')?.dirty || crearForm.get('tipoTurismo')?.touched)">
        <div class="text-danger" *ngIf="crearForm.get('tipoTurismo')?.errors?.['required']">El tipo de turismo es obligatorio.</div>
      </div>
    </div>
    <!-- fin tipoTurismo -->

    <!-- Botones -->
    <div class="form-group">
      <button type="submit" class="custom-btn primary-btn">Guardar Evento</button>
      <button type="button" class="custom-btn secondary-btn" style="margin-left: 10px;" (click)="limpiarFormulario()">Limpiar Formulario</button>
      <button type="button" class="custom-btn info-btn" style="margin-left: 10px;" (click)="volver()">Volver</button>
    </div>
  </form>
</div>
