<!-- Inicio del Carrusel -->
<div class="container-fluid p-0 site-wrapper">
  <div id="header-carousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <!-- Primera diapositiva del carrusel, marcada como activa -->
      <div class="carousel-item active">
        <img class="w-100" src="assets/images/carousel-1.jpg" alt="Image">
        <!-- Contenido del carrusel centrado sobre la imagen -->
        <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
          <div class="p-3" style="max-width: 900px;">
            <h4 class="text-white text-uppercase mb-md-3">Ciudad de las acacias</h4>
            <h1 class="display-3 text-white mb-md-4">Te Damos La Bienvenida a TuristExplor</h1>
            <!-- Botón que redirige a la página de la alcaldía de Girardot -->
            <a href="https://www.girardot-cundinamarca.gov.co/Paginas/Inicio.aspx" class="btn btn-primary py-md-3 px-md-5 mt-2" target="_blank">Alcaldía de Girardot Cundinamarca</a>
          </div>
        </div>
      </div>

      <!-- Segunda diapositiva del carrusel -->
      <div class="carousel-item">
        <img class="w-100" src="assets/images/carousel-2.jpg" alt="Image">
        <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
          <div class="p-3" style="max-width: 900px;">
            <h4 class="text-white text-uppercase mb-md-3">Explora y Aprende</h4>
            <h1 class="display-3 text-white mb-md-4">Descubre Lugares Increíbles Con Nosotros</h1>
            <!-- Botón que navega a la sección "Conoce Girardot" -->
            <a (click)="navigateTo('Conoce-Girardot')" class="btn btn-primary py-md-3 px-md-5 mt-2">¿Ya Conocías Girardot?</a>
          </div>
        </div>
      </div>
    </div>
    
    <!-- Controles del carrusel para navegar hacia la diapositiva anterior -->
    <a class="carousel-control-prev" href="#header-carousel" data-slide="prev">
      <div class="btn btn-dark" style="width: 45px; height: 45px;">
        <span class="carousel-control-prev-icon mb-n2"></span>
      </div>
    </a>

    <!-- Controles del carrusel para navegar hacia la siguiente diapositiva -->
    <a class="carousel-control-next" href="#header-carousel" data-slide="next">
      <div class="btn btn-dark" style="width: 45px; height: 45px;">
        <span class="carousel-control-next-icon mb-n2"></span>
      </div>
    </a>
  </div>
</div>

<!-- Sección de Conócenos -->
<div class="container-fluid py-5 site-wrapper">
  <div class="container pt-5">
    <div class="row">
      <!-- Columna con imagen de fondo estilo mapa -->
      <div class="col-lg-6" style="min-height: 500px;">
        <div class="position-rico h-100">
          <!-- Estilos en línea para la imagen de fondo -->
        </div>
      </div>

      <!-- Columna de texto informativo sobre Girardot -->
      <div class="col-lg-6 pt-5 pb-lg-5">
        <div class="about-text bg-white p-4 p-lg-5 my-lg-5">
          <h6 class="text-primary text-uppercase" style="letter-spacing: 5px;">Conócenos</h6>
          <h1 class="mb-3">Te damos la guía de todos los sitios turísticos que tiene Girardot</h1>
          <p class="text-justify">Ofrece una mezcla de clima agradable, opciones de alojamiento, actividades recreativas y una rica cultura local...</p>
          <div class="row mb-4">
            <!-- Imágenes de apoyo dentro de la sección -->
            <div class="col-6">
              <img class="img-fluid" src="assets/images/about-1.jpg" alt="">
            </div>
            <div class="col-6">
              <img class="img-fluid" src="assets/images/about-2.jpg" alt="">
            </div>
          </div>
          <!-- Botón para navegar a la sección "Conoce Girardot" -->
          <a (click)="navigateTo('Conoce-Girardot')" class="btn btn-primary mt-1">Ver más Información</a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Estilos CSS para la imagen de fondo en la sección Conócenos -->
<style>
  .position-rico {
    display: grid;
    grid-template-columns: 1fr; /* Una sola columna */
    background-image: url('assets/images/mapa.png'); /* Imagen de fondo */
    background-size: cover; /* Ajusta el tamaño de la imagen */
    background-position: center; /* Centra la imagen */
  }

  /* Cambia a dos columnas en pantallas grandes */
  @media (min-width: 992px) {
    .position-rico {
      grid-template-columns: 1fr 1fr;
    }
  }
</style>

<!-- Sección de Principales Destinos -->
<div class="container-fluid py-5 site-wrapper">
  <div class="container pt-5 pb-3">
    <div class="text-center mb-3 pb-3">
      <h6 class="text-primary text-uppercase" style="letter-spacing: 5px;">Destinos</h6>
      <h1>Explora los destinos Cercanos</h1>
    </div>
    <div class="row">
      <!-- Destino 1: Iglesias -->
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="destination-item position-relative overflow-hidden mb-2">
          <img class="img-fluid" src="assets/images/sanmiguel.jpg" alt="">
          <!-- Overlay con información del destino y enlace -->
          <a class="destination-overlay text-white text-decoration-none" (click)="navigateTo('tipo-religioso')">
            <h5 class="text-white">Iglesias</h5>
            <span>Paz y tranquilidad</span>
          </a>
        </div>
      </div>

      <!-- Destino 2: El Arbolito -->
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="destination-item position-relative overflow-hidden mb-2">
          <img class="img-fluid" src="assets/images/destination-2.jpg" alt="">
          <a class="destination-overlay text-white text-decoration-none" (click)="navigateTo('tipo-aventura')">
            <h5 class="text-white">El Arbolito</h5>
            <span>Naturaleza</span>
          </a>
        </div>
      </div>

      <!-- Destino 3: Parque Simon Bolivar -->
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="destination-item position-relative overflow-hidden mb-2">
          <img class="img-fluid" src="assets/images/destination-3.jpg" alt="">
          <a class="destination-overlay text-white text-decoration-none" (click)="navigateTo('tipo-cultural')">
            <h5 class="text-white">Parque Simon Bolivar</h5>
            <span>Entretenimiento</span>
          </a>
        </div>
      </div>

      <!-- Otros destinos adicionales -->
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="destination-item position-relative overflow-hidden mb-2">
          <img class="img-fluid" src="assets/images/destino2.jpg">
          <a class="destination-overlay text-white text-decoration-none" (click)="navigateTo('tipo-cultural')">
            <h5 class="text-white">El Buga</h5>
            <span>Cultura</span>
          </a>
        </div>
      </div>

      <!-- Destino: Parque de la Locomotora -->
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="destination-item position-relative overflow-hidden mb-2">
          <img class="img-fluid" src="assets/images/destination-5.jpg" alt="">
          <a class="destination-overlay text-white text-decoration-none" (click)="navigateTo('tipo-cultural')">
            <h5 class="text-white">Parque de la Locomotora</h5>
            <span>Histórico</span>
          </a>
        </div>
      </div>

      <!-- Destino: Río Magdalena -->
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="destination-item position-relative overflow-hidden mb-2">
          <img class="img-fluid" src="assets/images/destination-6.jpg" alt="">
          <a class="destination-overlay text-white text-decoration-none" (click)="navigateTo('tipo-sostenible')">
            <h5 class="text-white">Río Magdalena</h5>
            <span>Travesía</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Sección principal con fondo de imagen y actividades recomendadas -->
<main class="site-wrapper">
  <div class="pt-table desktop-768">
    <div class="pt-tablecell page-home relative" style="background-image: url(https://images.unsplash.com/photo-1486870591958-9b9d0d1dda99?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80);
      background-position: center;
      background-size: cover;">
      <div class="overlay"></div>

      <!-- Contenedor de texto principal -->
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
            <div class="page-title home text-center">
              <span class="heading-page"> ¿Qué hacer en Girardot?</span>
              <p class="mt20 text-white">Las actividades que elijas dependen de tus intereses personales y del tipo de experiencia que busques...</p>
            </div>

            <!-- Menú de opciones hexagonales -->
            <div class="hexagon-menu clear">
              <!-- Opción 1: Relajarse en las piscinas -->
              <div class="hexagon-item">
                <a class="hex-content">
                  <span class="hex-content-inner">
                    <span class="icon">
                      <i class="fa fa-universal-access"></i>
                    </span>
                    <span class="title" (click)="navigateTo('tipo-aventura')">Relajarse en las piscinas</span>
                  </span>
                  <!-- SVG de fondo con forma hexagonal -->
                  <svg viewBox="0 0 173.20508075688772 200" height="200" width="174" version="1.1" xmlns="http://www.w3.org/2000/svg">
                    <path d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z" fill="#1e2530"></path>
                  </svg>
                </a>
              </div>

              <!-- Otras opciones hexagonales -->
              <div class="hexagon-item">
                <a class="hex-content">
                  <span class="hex-content-inner">
                    <span class="icon">
                      <i class="fa fa-bullseye"></i>
                    </span>
                    <span class="title" (click)="navigateTo('tipo-gastronomico')">Disfrutar de la gastronomía</span>
                  </span>
                  <svg viewBox="0 0 173.20508075688772 200" height="200" width="174" version="1.1" xmlns="http://www.w3.org/2000/svg">
                    <path d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z" fill="#1e2530"></path>
                  </svg>
                </a>
              </div>

              <!-- Continúan más opciones de actividades -->
              <!-- ... -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<!-- Sección de equipo -->
<div class="container-fluid py-5 site-wrapper">
  <div class="container pt-5 pb-3">
    <div class="text-center mb-3 pb-3">
      <h6 class="text-primary text-uppercase" style="letter-spacing: 5px;">Guías</h6>
      <h1>Nuestros colaboradores</h1>
    </div>
    <div class="row justify-content-center">
      <!-- Colaborador 1: Mateo Rico -->
      <div class="col-lg-3 col-md-4 col-sm-6 pb-2">
        <div class="team-item bg-white mb-4">
          <div class="team-img position-relative overflow-hidden">
            <img class="img-fluid w-100" src="assets/images/Mateo-Rico.png" alt="Mateo Rico">
            <div class="team-social">
              <!-- Enlaces a redes sociales del colaborador -->
              <a class="btn btn-outline-primary btn-square" href="mailto:mateo-rico@upc.edu.co" target="_blank"><i class="fa fa-envelope"></i></a>
              <a class="btn btn-outline-primary btn-square" href="https://www.facebook.com/Matteorh08?mibextid=ZbWKwL" target="_blank"><i class="fab fa-facebook-f"></i></a>
              <a class="btn btn-outline-primary btn-square" href="https://www.instagram.com/mattt30rh?igsh=MXV4c2lxYXc2eDdweA==" target="_blank"><i class="fab fa-instagram"></i></a>
              <a class="btn btn-outline-primary btn-square" href="https://www.linkedin.com/in/mateo-rico-hernandez-902946185?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" target="_blank"><i class="fab fa-linkedin-in"></i></a>
            </div>
          </div>
          <div class="text-center py-4">
            <h5 class="text-truncate">Mateo Rico</h5>
            <p class="m-0">Ing. Sistemas</p>
          </div>
        </div>
      </div>

      <!-- Colaborador 2: Mateo Mora -->
      <div class="col-lg-3 col-md-4 col-sm-6 pb-2">
        <div class="team-item bg-white mb-4">
          <div class="team-img position-relative overflow-hidden">
            <img class="img-fluid w-100" src="assets/images/mateo-mora.jpg" alt="Mateo Mora">
            <div class="team-social">
              <a class="btn btn-outline-primary btn-square" href="mailto:mateo-mora@upc.edu.co" target="_blank"><i class="fa fa-envelope"></i></a>
              <a class="btn btn-outline-primary btn-square" href="https://www.facebook.com/share/jSgUEvuswtL83e6A/?mibextid=qi2Omg" target="_blank"><i class="fab fa-facebook-f"></i></a>
              <a class="btn btn-outline-primary btn-square" href="https://www.instagram.com/alejo_mora17?utm_source=qr&igsh=MTEyb3k3MWZvNHFsdw==" target="_blank"><i class="fab fa-instagram"></i></a>
              <a class="btn btn-outline-primary btn-square" href="https://www.linkedin.com/in/mateo-alejandro-mora-49a2b520a/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
            </div>
          </div>
          <div class="text-center py-4">
            <h5 class="text-truncate">Mateo Mora</h5>
            <p class="m-0">Ing. Sistemas</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Sección de testimonios de turismo -->
<div class="container-fluid py-5 site-wrapper">
  <div class="container py-5">
    <div class="text-center mb-3 pb-3">
      <h6 class="text-primary text-uppercase" style="letter-spacing: 5px;">Turismo</h6>
      <h1>Qué dicen nuestros visitantes</h1>
      <br>
    </div>
    <div class="owl-carousel testimonial-carousel">
      <!-- Verificación de experiencias disponibles -->
      <ng-container *ngIf="experiencias && experiencias.length > 0; else noExperiencias">
        <!-- Iteración sobre experiencias con *ngFor -->
        <div *ngFor="let experiencia of experiencias" class="text-center pb-4">
          <div class="testimonial-text bg-white p-4 mt-n5">
            <p class="mt-5">{{ experiencia.comentario }}</p>
            <h5 class="text-truncate">{{ experiencia.usuario.nombreUsuario }}</h5>
            <span>{{ experiencia.destinos.destinoName }}</span>
          </div>
        </div>
      </ng-container>

      <!-- Mensaje de no disponibilidad de experiencias -->
      <ng-template #noExperiencias>
        <div class="text-center">
          <p>No hay experiencias disponibles aún.</p>
        </div>
      </ng-template>
    </div>
  </div>
</div>

<!-- Sección de noticias -->
<div class="container-fluid py-5 site-wrapper">
  <div class="container pt-5 pb-3">
    <div class="text-center mb-3 pb-3">
      <h6 class="text-primary text-uppercase" style="letter-spacing: 5px;">Noticias</h6>
      <h1>Lo Último de nuestras Noticias</h1>
    </div>
    <div class="row pb-3">
      <ng-container *ngIf="noticiasChunks.length > 0">
        <!-- Iteración sobre las noticias para mostrarlas en tarjetas -->
        <div class="col-lg-4 col-md-6 mb-4 pb-2" *ngFor="let noticia of noticiasChunks[0]">
          <div class="blog-item">
            <div class="position-relative">
              <img [src]="getImageUrl(noticia.images[0].ruta)" (error)="onImageError($event, noticia.images[0].ruta)" alt="" (click)="openModal(noticia.images[0].ruta)">
              <div class="blog-date">
                <h6 class="font-weight-bold mb-n1">{{ formatDate(noticia.fechaPublicacion) }}</h6>
                <small class="text-white text-uppercase">{{ noticia.fuente }}</small>
              </div>
            </div>
            <div class="bg-white p-4 flex-grow-1 d-flex flex-column justify-content-between">
              <div>
                <div class="d-flex mb-2">
                  <a class="text-primary text-uppercase text-decoration-none">{{ noticia.tipoTurismo.nombre }}</a>
                </div>
                <a class="h5 m-0 text-decoration-none">{{ noticia.titulo }}</a>
              </div>
              <div class="text-center mt-3">
                <button class="btn btn-primary" (click)="verDetalleNoticia(noticia)">Ver más</button>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>

<!-- Modal para mostrar imagen ampliada -->
<div class="modal" [ngClass]="{'show': isModalOpen}" (click)="closeModal()">
  <span class="close" (click)="closeModal()">&times;</span>
  <img class="modal-content" [src]="getImageUrl(selectedImage?.ruta)" (click)="$event.stopPropagation()">
  <div class="caption">{{ selectedImage?.nombre }}</div>
</div>

<!-- Separador visual -->
<div class="mi-separador-div"></div>
