<!-- Topbar Principal -->
<div class="container-fluid topbar">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 text-lg-left mb-lg-0 mb-2 text-center">
        <div class="d-inline-flex align-items-center">
          <!-- Eliminado el texto de los párrafos -->
        </div>
      </div>
      <div class="col-lg-6 text-lg-right text-center">
        <div class="d-inline-flex align-items-center">
          <a class="btn btn-outline-info mr-2 px-2" (click)="navigateTo('login')">Iniciar Sesión</a>
          <a class="btn btn-outline-primary px-2" (click)="navigateTo('nuevo-usuario')">Registrarse</a>
          <!-- Botón de cerrar sesión -->
          <a class="btn btn-outline-danger px-2 ml-2" (click)="logout()">Cerrar Sesión</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Topbar Principal -->
