.header-section {
  position: relative;
  text-align: center;
  color: white;
  overflow: hidden;
  height: 100vh;
}

.header-background {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(50%);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.header-content {
  padding: 100px 20px;
  z-index: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.main-title {
  font-size: 4em;
  margin-bottom: 20px;
  animation: fadeInDown 1s ease;
  font-family: 'Georgia', serif;
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
}

.main-subtitle {
  text-align: center;
  font-size: 2em;
  animation: fadeInUp 1s ease;
  font-family: 'Georgia', serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* Animaciones */
@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Responsividad */
@media (max-width: 768px) {
  .main-title {
    font-size: 3em;
  }
  .main-subtitle {
    font-size: 1.5em;
  }
}


/* TABLA UNO stilos*/
.destinos-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Cambiado a dos columnas */
  gap: 20px;
  padding: 20px;
  animation: fadeIn 1s ease-in-out; /* Animación de entrada */
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.icono {
  margin-right: 10px;
  color: #008080;
  font-size: 1.5em;
  transition: color 0.3s ease; /* Transición suave para el color */
}

.cuadro-turistico {
  padding: 20px;
  background: linear-gradient(145deg, #e3f2fd, #bbdefb);
  border-radius: 20px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1), 0 4px 6px rgba(0, 0, 0, 0.08); /* Sombra 3D */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  perspective: 1000px; /* Añadido para efecto 3D */
}

.cuadro-turistico:hover {
  transform: rotateY(3deg); /* Efecto 3D */
  box-shadow: 0 20px 25px rgba(0, 0, 0, 0.15), 0 10px 10px rgba(0, 0, 0, 0.12);
}

.titulo {
  color: #008080;
  font-size: 24px;
  margin-bottom: 15px;
  text-align: center;
  font-weight: 700;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1); /* Sombra en el texto */
}

.contenido p {
  line-height: 1.6;
  font-size: 16px;
  margin-bottom: 10px;
  color: #333;
  transition: color 0.3s ease; /* Transición suave para el color */
}

.cuadro-turistico:hover .contenido p {
  color: #666; /* Cambio de color al pasar el mouse */
}

.imagenes {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
  justify-content: center;
}

.imagen {
  width: 100%;
  max-width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease, filter 0.3s ease; /* Añadida transición para filtro */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.imagen:hover {
  transform: scale(1.05) rotateZ(3deg); /* Añadido rotación 3D */
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  filter: brightness(1.1); /* Efecto de brillo al hacer hover */
}

@media (max-width: 600px) {
  .destinos-container {
    grid-template-columns: 1fr; /* En pantallas pequeñas, una sola columna */
  }
  .titulo {
    font-size: 20px;
  }
  .contenido {
    grid-template-columns: 1fr;
  }
  .contenido p {
    font-size: 14px;
  }
  .imagen {
    max-width: 100px;
    height: 100px;
  }
}





