<!-- editar-tipo-alojamiento.component.html -->
<div mat-dialog-content class="modal-content-editar-turismo">
    <div class="modal-header-editar-turismo">
      <h5 class="modal-title-editar-turismo">Editar Tipo de Alojamiento</h5>
      <button type="button" class="close-editar-turismo" aria-label="Close" (click)="onCancelar()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body-editar-turismo">
      <form [formGroup]="editarForm" (ngSubmit)="onSubmit()">
        <div class="form-group-editar-turismo">
          <label for="nombre">Nombre Tipo de Alojamiento</label>
          <input type="text" id="nombre" formControlName="nombre" placeholder="Ingresa el Nombre del Tipo de Alojamiento" class="form-control-editar-turismo">
          <div *ngIf="editarForm.get('nombre')?.invalid && (editarForm.get('nombre')?.dirty || editarForm.get('nombre')?.touched)">
            <div class="text-danger-editar-turismo" *ngIf="editarForm.get('nombre')?.hasError('required')">El Tipo de Alojamiento es obligatorio.</div>
            <div class="text-danger-editar-turismo" *ngIf="editarForm.get('nombre')?.hasError('minlength')">El Tipo de Alojamiento debe tener al menos 5 caracteres.</div>
            <div class="text-danger-editar-turismo" *ngIf="editarForm.get('nombre')?.hasError('maxlength')">El Tipo de Alojamiento no debe exceder los 50 caracteres.</div>
          </div>
        </div>

        <div class="form-group-editar-turismo">
          <label for="descripcion">Descripción</label>
          <textarea id="descripcion" formControlName="descripcion" placeholder="Ingresa la Descripción del Tipo de Alojamiento" rows="5" class="form-control-editar-turismo"></textarea>
          <div *ngIf="editarForm.get('descripcion')?.invalid && (editarForm.get('descripcion')?.dirty || editarForm.get('descripcion')?.touched)">
            <div class="text-danger-editar-turismo" *ngIf="editarForm.get('descripcion')?.hasError('required')">La descripción es obligatoria.</div>
            <div class="text-danger-editar-turismo" *ngIf="editarForm.get('descripcion')?.hasError('minlength')">La descripción debe tener al menos 10 caracteres.</div>
            <div class="text-danger-editar-turismo" *ngIf="editarForm.get('descripcion')?.hasError('maxlength')">La descripción no debe exceder los 500 caracteres.</div>
          </div>
        </div>

        <div class="form-group-editar-turismo">
          <label for="servicios">Descripción de los Servicios</label>
          <textarea id="servicios" formControlName="servicios" placeholder="Ingresa la Descripción de los Servicios" rows="5" class="form-control-editar-turismo"></textarea>
          <div *ngIf="editarForm.get('servicios')?.invalid && (editarForm.get('servicios')?.dirty || editarForm.get('servicios')?.touched)">
            <div class="text-danger-editar-turismo" *ngIf="editarForm.get('servicios')?.hasError('required')">La descripción de los servicios es obligatoria.</div>
            <div class="text-danger-editar-turismo" *ngIf="editarForm.get('servicios')?.hasError('minlength')">La descripción de los servicios debe tener al menos 10 caracteres.</div>
            <div class="text-danger-editar-turismo" *ngIf="editarForm.get('servicios')?.hasError('maxlength')">La descripción de los servicios no debe exceder los 500 caracteres.</div>
          </div>
        </div>

        <div class="form-group-editar-turismo">
          <label for="precioPromedio">Precio Promedio</label>
          <input type="text" id="precioPromedio" formControlName="precioPromedio" placeholder="Ingresa el Precio Promedio" class="form-control-editar-turismo">
          <div *ngIf="editarForm.get('precioPromedio')?.invalid && (editarForm.get('precioPromedio')?.dirty || editarForm.get('precioPromedio')?.touched)">
            <div class="text-danger-editar-turismo" *ngIf="editarForm.get('precioPromedio')?.hasError('required')">El Precio Promedio es obligatorio.</div>
          </div>
        </div>

        <div class="modal-footer-editar-turismo">
          <button type="button" class="btn btn-secondary" (click)="onCancelar()">Cancelar</button>
          <button type="submit" class="btn btn-primary">Actualizar</button>
          <button type="button" class="btn btn-danger" (click)="onClearForm()">Limpiar</button>
        </div>
      </form>
    </div>
  </div>

