<div class="mi-separador-div"></div>
<div class="container">
  <h1 class="title">Bienvenidos al Blog de Noticias Turísticas</h1>
  <p class="description">¡Bienvenidos a nuestro blog de noticias turísticas! Aquí encontrarás las últimas novedades, consejos de viaje, destinos destacados y todo lo relacionado con el emocionante mundo del turismo. Ya sea que estés planeando tu próximo viaje o simplemente disfrutando de leer sobre lugares fascinantes, ¡estás en el lugar correcto!</p>
</div>
<div class="mi-separador-div"></div>

<h1 class="titulo-event">Noticias destacadas</h1>
<!-- Estructura básica del buscador -->
<div class="search-container">
  <input type="text" [(ngModel)]="searchText" placeholder="Buscar ..." class="search-box" />
  <button class="search-button">
    <i class="fas fa-search"></i>
  </button>
</div>

<!-- Mensaje cuando no hay noticias disponibles -->
<div *ngIf="getFilteredNoticias().length === 0" class="no-noticias">
  No hay noticias disponibles para la búsqueda "{{ searchText }}".
  Por favor, ajusta tus criterios de búsqueda o intenta más tarde.
</div>

<!-- Tabla de noticias -->
<div class="blog-container">
  <div *ngFor="let noticia of getFilteredNoticias(); let i = index"
       [ngClass]="{'blog-post-style-1': (i % 6) < 3, 'blog-post-style-2': (i % 6) >= 3}">
    <div class="post-header">
      <h2 class="post-title">{{ noticia.titulo }}</h2>
      <p class="post-meta">
        <span class="post-date">{{ noticia.fechaPublicacion | date:'dd/MM/yyyy' }}</span> |
        <span class="post-source">{{ noticia.fuente }}</span>
      </p>
    </div>
    <div class="post-content">
      <p>{{ noticia.contenido }}</p>
      <p>{{ noticia.tipoTurismo.nombre }}</p>
    </div>
    <div class="post-images">
      <img *ngFor="let imagen of noticia.images"
           [src]="getImageUrl(imagen.ruta)"
           [alt]="imagen.nombre"
           class="post-image"
           (click)="openModal(imagen)"
           (error)="onImageError($event, imagen.ruta)"
           title="Haz clic para ampliar" />
    </div>
  </div>
</div>


<!-- Modal para mostrar imagen ampliada -->
<div class="modal" [ngClass]="{'show': isModalOpen}" (click)="closeModal()">
  <span class="close" (click)="closeModal()">&times;</span>
  <img class="modal-content" [src]="getImageUrl(selectedImage?.ruta)" (click)="$event.stopPropagation()" alt="img">
  <div class="caption">{{ selectedImage?.nombre }}</div>
</div>
<div class="mi-separador-div"></div>
