<div class="card-header">
  <button class="boton-ayuda" (click)="toggleHelpModal()">
    <i class="fas fa-question-circle"></i> Ayuda
  </button>
  <h3 class="card-title text-center card-title m-2 text-primary font-weight-bold">Gestión de Usuario</h3>
  <div class="buscador">
    <input type="text" [(ngModel)]="searchText" (input)="performSearch()" placeholder="Buscar...">
    <i class="fas fa-search"></i>
  </div>
  <br>
  <div class="card-tools d-flex justify-content-center">
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-outline-danger btn-sm mx-2" (click)="navigateTo('sistemas')">
        <i class="fas fa-home"></i><span>Regresar</span>
      </button>
      <button type="button" class="btn btn-outline-warning btn-sm mx-2" onclick="window.location.reload()">
        <i class="fas fa-sync-alt"></i><span> Recargar Tabla</span>
      </button>
      <button type="button" class="btn btn-outline-primary btn-sm mx-2" (click)="onNuevoUsers()">
        <i class="fas fa-plus"></i><span> Nuevo Usuario</span>
      </button>
      <button type="button" class="btn btn-outline-success btn-sm mx-2" (click)="exportToExcel()">
        <i class="far fa-file-excel"></i><span> Exportar a Excel</span>
      </button>
      <button type="button" class="btn btn-outline-info btn-sm mx-2" (click)="printTable()">
        <i class="fas fa-print"></i><span> Imprimir</span>
      </button>
    </div>
  </div>
</div>

<!-- Inicio tabla -->
<div class="card-body table-responsive">
  <table id="printable-table" class="table table-bordered table-striped">
    <thead>
    <tr class="text-center">
      <th (click)="sortColumn('id')">
        ID
        <span *ngIf="currentColumn === 'id'" class="sorting-icon">
          <i class="fas fa-caret-{{ sortOrder === 'asc' ? 'up' : 'down' }}"></i>
        </span>
      </th>
      <th (click)="sortColumn('nombreUsuario')">
        Nombre
        <span *ngIf="currentColumn === 'nombreUsuario'" class="sorting-icon">
          <i class="fas fa-caret-{{ sortOrder === 'asc' ? 'up' : 'down' }}"></i>
        </span>
      </th>
      <th (click)="sortColumn('email')">
        Email
        <span *ngIf="currentColumn === 'email'" class="sorting-icon">
          <i class="fas fa-caret-{{ sortOrder === 'asc' ? 'up' : 'down' }}"></i>
        </span>
      </th>
      <th (click)="sortColumn('password')">
        Password
        <span *ngIf="currentColumn === 'password'" class="sorting-icon">
          <i class="fas fa-caret-{{ sortOrder === 'asc' ? 'up' : 'down' }}"></i>
        </span>
      </th>
      <th (click)="sortColumn('rol')">
        Rol
        <span *ngIf="currentColumn === 'rol'" class="sorting-icon">
          <i class="fas fa-caret-{{ sortOrder === 'asc' ? 'up' : 'down' }}"></i>
        </span>
      </th>
      <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let usuario of usuarios | filterBy: searchText | paginate: { itemsPerPage: 5, currentPage: page }">
      <td class="text-center">{{ usuario.id }}</td>
      <td [innerHTML]="highlightMatches(usuario.nombreUsuario, searchText)"></td>
      <td>{{ usuario.email }}</td>
      <td>{{ usuario.password }}</td>
      <td>{{ usuario.fechaRegistro }}</td>
      <td>{{ usuario.rol?.rolName }}</td>
      <td class="d-flex justify-content-center align-items-center">
        <button type="button" class="btn btn-outline-info btn-sm mr-1" appTooltip="Actualizar" (click)="openUpdateModal(usuario)">
          <i class="fas fa-edit"></i>
        </button>
        <button type="button" class="btn btn-outline-danger btn-sm" appTooltip="Eliminar" (click)="onEliminarUsuario(usuario)">
          <i class="fas fa-trash"></i>
        </button>
      </td>
    </tr>
    </tbody>
  </table>
  <pagination-controls
    (pageChange)="page = $event"
    previousLabel="Anterior"
    nextLabel="Siguiente"
    [directionLinks]="true"
    [maxSize]="10"
    [autoHide]="true"
    [responsive]="true"
    size="sm">
  </pagination-controls>

  <button class="btn btn-sm pagination-btn pagination-btn-primary" (click)="page = 1" [disabled]="page === 1">Primera</button>
  <button class="btn btn-sm pagination-btn pagination-btn-light" (click)="page = totalPages" [disabled]="page === totalPages">Última</button>
  <div class="pagination-info">
    <p>Total de elementos: {{ (usuarios | paginate: { itemsPerPage: 5, currentPage: page }).length }}</p>
    <p>Total de páginas: {{ Math.ceil(usuarios.length / 5) }}</p>
  </div>
</div>
