/*app-navbar-topbar {
  display: block;
  padding: 0;
  background-color: #f8f9fa; 
  border-bottom: 1px solid #ddd; 
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000; 
}

app-nav-bar {
  display: block;
  padding: 0;
  background-color: #e9ecef; 
  border-bottom: 1px solid #ccc; 
  margin-top: 4em; 
}

.breadcrumbs-content {
  font-size: 1.2em;
  font-weight: bold;
  color: #333; 
  padding: 0.5em;
  background-color: #f1f1f1; 
  border-radius: 5px; 
  border: 1px solid #ccc; 
  position: fixed;
  top: 4em; 
  width: 100%; 
  z-index: 1001; 
}

#app-footer {
  display: none; 
  padding: 0;
  background-color: #454343; 
  border-top: 1px solid #ddd; 
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1000; 
}

.main-content {
  padding: 2em;
  margin-top: 8em; 
  margin-bottom: 1em; 
}*/
