<!-- Footer TuristExplor Inicio -->
<footer class="container-fluid bg-dark text-white border-top py-3 px-sm-3 px-md-5" style="height: 10%;">

  <div class="row">
    <div class="col-lg-6 text-center text-lg-left mb-3 mb-lg-0">
      <p class="m-0 text-white-50">Política de <a href="#">privacidad</a>. Términos y Condiciones.</p>
    </div>
    <div class="col-lg-6 text-center text-lg-left mb-3 mb-lg-0">
      <p class="m-0 text-white-50">Diseñado por la <a href="https://girardot.unipiloto.edu.co/">Universidad Piloto 2024.</a></p>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-12 text-center">
      <h6 class="text-white text-uppercase mt-3 mb-2" style="letter-spacing: 2px;">Información:</h6>
      <p class="m-0 text-center" style="font-size: 0.9rem;">José Alonso Escandón</p>
      <p class="m-0 text-center" style="font-size: 0.9rem;">Calle 22 con Carrera 20 Barrio Gaitán / Girardot, Cundinamarca</p>
      <p class="m-0 text-center" style="font-size: 0.9rem;">Teléfono: 3214309479 / (031) 8306385</p>
      <p class="m-0 text-center" style="font-size: 0.9rem;">Correos: <a href="mailto:imtcf@girardot-cundinamarca.gov.co">imtcf&#64;girardot-cundinamarca.gov.co</a> - <a href="mailto:turismo@girardot-cundinamarca.gov.co">turismo&#64;girardot-cundinamarca.gov.co</a></p>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-12 text-center">
      <h6 class="text-white text-uppercase mt-3 mb-2" style="letter-spacing: 2px;">Síguenos:</h6>
      <div class="social-icons">
        <a class="btn btn-outline-primary btn-square mr-2" href="https://x.com/alc_girardot?lang=es"><i class="fab fa-twitter"></i></a>
        <a class="btn btn-outline-primary btn-square mr-2" href="https://www.facebook.com/AlcaldiadeGirardotOficial/?locale=es_LA"><i class="fab fa-facebook-f"></i></a>
        <a class="btn btn-outline-primary btn-square mr-2" href="https://www.linkedin.com/company/alcald%C3%ADa-municipal-de-girardot"><i class="fab fa-linkedin-in"></i></a>
        <a class="btn btn-outline-primary btn-square" href="https://www.instagram.com/alcaldiadegirardotoficial/"><i class="fab fa-instagram"></i></a>
        <a class="btn btn-outline-primary btn-square" href="https://www.youtube.com/channel/UCxYxBu1NzLw12aROMgutjRw" target="_blank"><i class="fab fa-youtube"></i></a>
      </div>
    </div>
  </div>
</footer>
<!-- Footer Fin -->
