<div class="banner">
  <h1 class="tu">Turismo Sostenible en Girardot, Cundinamarca</h1>
</div>
<section class="programa-educacion">
  <h2 class="subtitulo">Programas de Educación Ambiental</h2>
  <p>Desarrolla programas educativos para turistas y la comunidad local sobre la importancia de la conservación del medio ambiente, el manejo adecuado de residuos y la protección de la biodiversidad local.</p>
  <img src="assets/images/programaseducativos.JPG" alt="Programas de Educación Ambiental" />
</section>
<section class="rutas-eco-turismo">
  <h2 class="subtitulo">Rutas Eco-Turísticas</h2>
  <p>Diseña rutas turísticas que destaquen los ecosistemas locales, como caminatas por senderos naturales, avistamiento de aves y recorridos por reservas naturales cercanas.</p>
  <img src="assets/images/magdalena-river.jpg" alt="Rutas Eco-Turísticas" />
</section>
<section class="agricultura-sostenible">
  <h2 class="subtitulo">Fomento de la Agricultura Sostenible</h2>
  <p class="parafo">Promueve el turismo agrícola sostenible, donde los visitantes puedan participar en actividades agrícolas tradicionales y aprender sobre prácticas agrícolas respetuosas con el medio ambiente, como la agricultura orgánica.</p>
  <img src="assets/images/Arroz.JPG" alt="Fomento de la Agricultura Sostenible" />
</section>
<section class="gastronomia-sostenible">
  <h2 class="subtitulo">Gastronomía Sostenible</h2>
  <p>Destaca los alimentos locales y promueve la cocina sostenible utilizando ingredientes de origen local y métodos de preparación que minimicen el impacto ambiental.</p>
  <img src="assets/images/gratronomiasostenible.jpg" alt="Gastronomía Sostenible" />
</section>
<div class="mi-separador-div"></div>
