<div class="mi-separador-div"></div>
<div class="banner">
  <h1 class="tu">Turismo Sostenible en Girardot, Cundinamarca</h1>
</div>
<div class="mi-separador-div"></div>

<h1 class="titulo-event">Turismo Sostenible</h1>

<div class="search-container">
  <input type="text" [(ngModel)]="searchText" placeholder="Buscar ..." class="search-box" />
  <button class="search-button">
    <i class="fas fa-search"></i>
  </button>
</div>

<div *ngIf="getFilteredDestinos().length === 0" class="no-eventos">
  No hay destinos de Turismo Sostenible disponibles para la búsqueda "{{ searchText }}".
  Por favor, ajusta tus criterios de búsqueda o intenta más tarde.
</div>

<div class="destinos-container">
  <div class="destinos">
    <div *ngFor="let destino of getFilteredDestinos()" class="destino-card">
      <div class="destino-content">
        <div class="destino-header">
          <div class="destino-icon">
            <i class="fas fa-map-marker-alt"></i>
          </div>
          <h3 class="destino-name">{{ destino.destinoName }} <span class="badge badge-nuevo">Nuevo</span></h3>
        </div>
        <div class="destino-info">
          <p><strong>Descripción:</strong> {{ destino.descripcion }}</p>
          <p><strong>Ubicación:</strong> {{ destino.ubicacion }}</p>
          <p><strong>Tipo de Turismo:</strong>
            <span *ngFor="let tipo of destino.tipoTurismo">{{ tipo.nombre }}</span>
          </p>
          <p><strong>Atracciones Principales:</strong>
            <span *ngFor="let atraccion of destino.atracionesPrincipales">{{ atraccion.nombre }}</span>
          </p>
          <p><strong>Épocas para Visitar:</strong>
            <span *ngFor="let epoca of destino.epocasVisitar">{{ epoca.nombre }}</span>
          </p>
          <!-- <p><strong>Fecha de Creación:</strong> {{ destino.fechaCreacion | date:'dd/MM/yyyy' }}</p> -->
          <p><strong>Última Actualización:</strong> {{ destino.fechaActualizacion | date:'dd/MM/yyyy' }}</p>
        </div>
      </div>
      <div class="destino-back">
        <div *ngIf="destino.imagenes.length === 1" class="destino-back-single-image">
          <img [src]="getImageUrl(destino.imagenes[0].ruta)" [alt]="destino.destinoName" class="destino-back-image" />
        </div>
        <div *ngIf="destino.imagenes.length > 1" class="destino-back-images">
          <img *ngFor="let imagen of destino.imagenes" [src]="getImageUrl(imagen.ruta)" [alt]="destino.destinoName" class="destino-back-image" (click)="openModal(imagen)" />
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Modal para mostrar imagen ampliada -->
<div class="modal" [ngClass]="{'show': isModalOpen}" (click)="closeModal()">
  <span class="close" (click)="closeModal()">&times;</span>
  <img class="modal-content" [src]="getImageUrl(selectedImage?.ruta)" (click)="$event.stopPropagation()">
  <div class="caption">{{ selectedImage?.nombre }}</div>
</div>
<div class="mi-separador-div"></div>
