<!-- Un div que actúa como separador visual entre secciones -->
<div class="mi-separador-div"></div>
<!-- Sección de encabezado con una imagen de fondo y contenido superpuesto -->
<div class="contenido-fluid page-header">
  <!-- Imagen de fondo -->
  <img src="assets/images/destino122.jpg" alt="Imagen de fondo">
  <!-- Contenedor del contenido sobre la imagen -->
  <div class="contenido">
    <!-- Centra el texto dentro de la imagen -->
    <div class="d-flex flex-column align-items-center justify-content-center text-container">
      <!-- Título principal en la imagen -->
      <h3 class="display-4 text-white text-uppercase">¿Ya Conocías Girardot?</h3>
      <!-- Contenedor del breadcrumb o ruta de navegación -->
      <div class="d-inline-flex text-white breadcrumb-container">
        <p class="m-0 text-uppercase">
          <a class="text-white breadcrumb-link">Descubre este maravilloso municipio</a>
        </p>
        <i class="fa fa-angle-double-right pt-1 px-3 breadcrumb-icon"></i>
        <p class="m-0 text-uppercase breadcrumb-text">Conoce su historia y costumbres</p>
      </div>
    </div>
  </div>
</div>

<!-- Otro separador visual -->
<div class="mi-separador-div"></div>
<!-- Contenedor principal con márgenes superiores -->
<div class="container mt-5">
  <div class="row">
    <!-- Columna izquierda con información introductoria sobre Girardot -->
    <div class="col-lg-4">
      <h2 class="text-center mb-4 text-primary font-weight-bold">Descubre Girardot</h2>
      <p class="mb-4">Girardot es una encantadora ciudad ubicada en el departamento de Cundinamarca, Colombia...</p>
    </div>

    <!-- Columna derecha con tarjetas informativas sobre Girardot -->
    <div class="col-lg-8">
      <div class="row">
        <!-- Tarjeta 1: Parque Simón Bolívar -->
        <div class="col-lg-4">
          <div class="card">
            <img src="assets/images/destination-3.jpg" alt="Imagen 1" class="img-fluid polaroid animated">
            <h5 class="mt-3 text-center text-primary">Parque Simón Bolívar</h5>
            <p class="mb-4 text-center">Visitar Girardot, Cundinamarca, es una experiencia única que ofrece una combinación de...</p>
          </div>
        </div>
        
        <!-- Tarjeta 2: Ciudad de las Acacias -->
        <div class="col-lg-4">
          <div class="card">
            <img src="assets/images/about-1.jpg" alt="Imagen 2" class="img-fluid polaroid animated">
            <h5 class="mt-3 text-center text-primary">Ciudad de las Acacias</h5>
            <p class="mb-4 text-center">Girardot, Cundinamarca, ofrece una combinación perfecta de belleza natural...</p>
          </div>
        </div>

        <!-- Tarjeta 3: Letras de Girardot -->
        <div class="col-lg-4">
          <div class="card">
            <img src="assets/images/destino17.JPG" alt="Imagen 3" class="img-fluid polaroid animated">
            <h5 class="mt-3 text-center text-primary">Letras de Girardot</h5>
            <p class="mb-4 text-center">Girardot es un destino turístico completo que ofrece una experiencia equilibrada...</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Otro separador visual -->
<div class="mi-separador-div"></div>
<!-- Estilos personalizados para la página -->
<style>
  .header-title {
    color: #213999;
    font-size: 2em;
    text-align: center;
    margin-bottom: 20px;
  }

  .carousel-caption {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    width: 80%;
    text-align: center;
  }

  .carousel-caption p {
    color: #333;
    font-size: 1em; /* Texto más pequeño */
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .extra-paragraph {
    font-family: 'Roboto', sans-serif;
    font-size: 14px; /* Texto más pequeño */
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .carousel-item img {
    height: 85vh; /* Ajusta la altura de las imágenes */
    width: 100%; /* Ajusta el ancho de las imágenes */
    object-fit: cover;
  }
</style>

<!-- Contenedor para la sección de la historia de Girardot -->
<div class="container">
  <h2 class="header-title">Historia de Girardot</h2>
  <!-- Carrusel con imágenes y leyendas sobre la historia de Girardot -->
  <div id="carousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <!-- Indicadores de las imágenes del carrusel -->
      <li *ngFor="let imagen of imagenes; let i = index" [attr.data-target]="'#carousel'" [attr.data-slide-to]="i" [class.active]="i === 0"></li>
    </ol>
    <div class="carousel-inner">
      <!-- Itera sobre las imágenes para crear los elementos del carrusel -->
      <div *ngFor="let imagen of imagenes; let i = index" [class.carousel-item]="true" [class.active]="i === 0">
        <img [src]="getImageUrl(imagen.ruta)" class="d-block w-100" [alt]="imagen.nombre" (click)="openModal(imagen)" />
        <div class="carousel-caption">
          <p class="extra-paragraph">
            <!-- Descripciones históricas de Girardot, según la posición de la imagen en el carrusel -->
            {{ i === 0 ? 'La historia de Girardot, Cundinamarca...' : '' }}
            {{ i === 1 ? 'El nombre de Girardot se asocia...' : '' }}
            {{ i === 2 ? 'A medida que avanzaba el tiempo...' : '' }}
            {{ i === 3 ? 'Durante la época colonial...' : '' }}
            {{ i === 4 ? 'En el siglo XX, Girardot se convirtió...' : '' }}
            {{ i === 5 ? 'El 10 de febrero de 1844...' : '' }}
          </p>
        </div>
      </div>
    </div>

    <!-- Controles para navegar el carrusel hacia adelante y atrás -->
    <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Anterior</span>
    </a>
    <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Siguiente</span>
    </a>
  </div>
</div>

<!-- Modal para mostrar una imagen ampliada al hacer clic en el carrusel -->
<div class="modal" [ngClass]="{'show': isModalOpen}" (click)="closeModal()">
  <span class="close" (click)="closeModal()">&times;</span>
  <img class="modal-content" [src]="getImageUrl(selectedImage?.ruta)" (click)="$event.stopPropagation()" alt="image">
  <div class="caption">{{ selectedImage?.nombre }}</div>
</div>

<!-- Otro separador visual -->
<div class="mi-separador-div"></div>
<!-- Sección dedicada a los símbolos patrios de Girardot -->
<section id="girardot">
  <h1>Simbolos Patrios Girardot, Cundinamarca</h1>
  <!-- Artículo sobre el escudo de Girardot -->
  <article id="bandera">
    <h2>Escudo</h2>
    <div class="flex-container">
      <div class="flex-item">
        <p>El escudo tiene forma española, medio partido y cortinado...</p>
        <p>Fuente: <a href="https://www.girardot-cundinamarca.gov.co/Ciudadanos/PortaldeNinos/MiMunicipio/Paginas/Nuestros-Simbolos.aspx" target="_blank">Municipio de Girardot, Cundinamarca Alcaldía de Girardot</a></p>
      </div>
      <div class="flex-item">
        <img class="imagen" src="assets/images/iconoalcaldia.png" alt="Escudo de Girardot, Cundinamarca">
      </div>
    </div>
  </article>

  <!-- Artículo sobre la bandera de Girardot -->
  <article id="banderas">
    <h2>Bandera</h2>
    <div class="flex-container">
      <div class="flex-item">
        <p>La bandera de Girardot, Cundinamarca, es un símbolo de la ciudad que representa su historia...</p>
        <p>Fuente: <a href="https://www.girardot-cundinamarca.gov.co/Ciudadanos/PortaldeNinos/MiMunicipio/Paginas/Nuestros-Simbolos.aspx" target="_blank">Municipio de Girardot, Cundinamarca Alcaldía de Girardot</a></p>
      </div>
      <div class="flex-item">
        <img class="imagen" src="assets/images/bandera.png" alt="Bandera de Girardot, Cundinamarca">
      </div>
    </div>
  </article>

  <!-- Artículo sobre el himno de Girardot -->
  <article id="himno">
    <h2>Himno</h2>
    <p>El himno de Girardot, Cundinamarca, es un símbolo de la ciudad que representa su historia...</p>
    <p>Fuente: <a href="https://www.girardot-cundinamarca.gov.co/Ciudadanos/PortaldeNinos/MiMunicipio/Paginas/Nuestros-Simbolos.aspx" target="_blank">Municipio de Girardot, Cundinamarca Alcaldía de Girardot</a></p>
    <pre>
      <code class="language-html">
        <audio controls>
          <source src="assets/images/audio/himnogirardot.mp3" type="audio/mpeg">
        </audio>
      </code>
    </pre>
  </article>
</section>

<!-- Otro separador visual -->
<div class="mi-separador-div"></div>
<!-- Sección con mapa interactivo que muestra cómo llegar a Girardot -->
<div class="map-container">
  <h1 class="title-mapa">¿Cómo llegar a Girardot, Cundinamarca?</h1>
  <!-- Iframe con Google Maps embebido -->
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m46...5m2!1ses!2sco"
    width="600"
    height="450"
    style="border:0;"
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade">
  </iframe>
</div>
<!-- Último separador visual -->
<div class="mi-separador-div"></div>
