
<div class="contenido-fluid page-header">
  <img src="assets/images/destino122.jpg" alt="Imagen de fondo">
  <div class="contenido">
    <div class="d-flex flex-column align-items-center justify-content-center text-container">
      <h3 class="display-4 text-white text-uppercase">Ya Conocías Girardot</h3>
      <div class="d-inline-flex text-white breadcrumb-container">
        <p class="m-0 text-uppercase"><a class="text-white breadcrumb-link">Descubre este maravilloso municipio</a></p>
        <i class="fa fa-angle-double-right pt-1 px-3 breadcrumb-icon"></i>
        <p class="m-0 text-uppercase breadcrumb-text">Conoce su historia y costumbres</p>
      </div>
    </div>
  </div>
</div>
<div class="mi-separador-div"></div>


<div class="container mt-5">
  <div class="row">
    <div class="col-lg-4">
      <h2 class="text-center mb-4 text-primary font-weight-bold">Descubre Girardot</h2>
      <p class="mb-4">
        Girardot es una encantadora ciudad ubicada en el departamento de Cundinamarca, Colombia, conocida por su agradable clima cálido y su atractiva ubicación a orillas del río Magdalena. Rodeada de exuberante vegetación y paisajes pintorescos, esta ciudad se ha convertido en un destino turístico popular.
      </p>
    </div>
    <div class="col-lg-8">
      <div class="row">
        <div class="col-lg-4">
          <div class="card">
            <img src="assets/images/destination-3.jpg" alt="Imagen 1" class="img-fluid polaroid animated">
            <h5 class="mt-3 text-center text-primary">Parque Simón Bolívar</h5>
            <p class="mb-4 text-center">
              Visitar Girardot, Cundinamarca, es una experiencia única que ofrece una combinación de atractivos naturales, actividades recreativas y una rica cultura local.
            </p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card">
            <img src="assets/images/about-1.jpg" alt="Imagen 2" class="img-fluid polaroid animated">
            <h5 class="mt-3 text-center text-primary">Ciudad de las Acacias</h5>
            <p class="mb-4 text-center">
              Girardot, Cundinamarca, ofrece una combinación perfecta de belleza natural, hospitalidad cálida y una amplia gama de actividades, convirtiéndola en un destino ideal para aquellos que buscan una experiencia única en Colombia.
            </p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card">
            <img src="assets/images/destino17.JPG" alt="Imagen 3" class="img-fluid polaroid animated">
            <h5 class="mt-3 text-center text-primary">Letras de Girardot</h5>
            <p class="mb-4 text-center">
              Girardot es un destino turístico completo que ofrece una experiencia equilibrada entre relajación, aventura y exploración cultural, convirtiéndolo en un lugar atractivo para una escapada memorable en Colombia.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="mi-separador-div"></div>


<style>
  /* Estilos personalizados */
  .header-title {
    color: #213999;
    font-size: 2em;
    text-align: center;
    margin-bottom: 20px;
  }

  .carousel-caption {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    width: 80%;
    text-align: center;
  }

  .carousel-caption p {
    color: #333;
    font-size: 1em; /* Texto más pequeño */
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .extra-paragraph {
    font-family: 'Roboto', sans-serif;
    font-size: 14px; /* Texto más pequeño */
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .carousel-item img {
    height: 85vh; /* Ajusta la altura de las imágenes */
    width: 100%; /* Ajusta el ancho de las imágenes */
    object-fit: cover;
  }
</style>

<div class="container">
  <h2 class="header-title">Historia de Girardot</h2>
  <div id="carousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carousel" data-slide-to="0" class="active"></li>
      <li data-target="#carousel" data-slide-to="1"></li>
      <li data-target="#carousel" data-slide-to="2"></li>
      <li data-target="#carousel" data-slide-to="3"></li>
      <li data-target="#carousel" data-slide-to="4"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/images/Barca del Capitan Rozo.jpg" class="d-block w-100" alt="Barca del capitan Rozo" />
        <div class="carousel-caption">
          <p class="extra-paragraph">
            La historia de Girardot, Cundinamarca, se remonta a la época precolombina, cuando la región estaba habitada por grupos indígenas como los panches y los mesitas. Con la llegada de los conquistadores españoles en el siglo XVI, la zona fue sometida a la colonización y se establecieron las bases de lo que eventualmente se convertiría en la ciudad de Girardot.
          </p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="assets/images/Barco a Vapor.jpg" class="d-block w-100 mx-100" alt="Barco a Vapor">
        <div class="carousel-caption">
          <p class="extra-paragraph">
            El nombre de Girardot se asocia comúnmente con el general Francisco José de Paula Santander, quien fue un líder militar y político durante la independencia de Colombia en el siglo XIX. En honor a Santander, la ciudad adoptó el nombre de Girardot.
          </p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="assets/images/19.jpg" class="d-block w-100 mx-100" alt="Puente Ospina">
        <div class="carousel-caption">
          <p class="extra-paragraph">
            A medida que avanzaba el tiempo, Girardot experimentó un desarrollo económico significativo, especialmente a finales del siglo XIX y principios del siglo XX, impulsado en parte por la llegada del ferrocarril. La conexión ferroviaria mejoró la accesibilidad y facilitó el transporte de bienes y personas, contribuyendo al crecimiento de la ciudad.
          </p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="assets/images/camellon.jpg" class="d-block w-100 mx-100" alt="camellon">
        <div class="carousel-caption">
          <p class="extra-paragraph">
            Durante la época colonial, la región de Girardot fue testigo de eventos importantes en la lucha por la independencia de Colombia. La ubicación estratégica de la ciudad, a orillas del río Magdalena, la convirtió en un punto clave para el comercio y el transporte fluvial.
          </p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="assets/images/Pescador.jpg" class="d-block w-100 mx-100" alt="pescador">
        <div class="carousel-caption">
          <p class="extra-paragraph">
            En el siglo XX, Girardot se convirtió en un importante destino turístico. La ciudad ofrece una variedad de atracciones naturales, culturales y recreativas, lo que la convierte en un destino ideal para una escapada de fin de semana o unas vacaciones más largas.
          </p>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Anterior</span>
    </a>
    <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Siguiente</span>
    </a>
  </div>
</div>

<div class="mi-separador-div"></div>

<!-- contenido Simbolos Patrios Girardot, Cundinamarca -->
<section id="girardot">
  <h1>Simbolos Patrios Girardot, Cundinamarca</h1>

  <article id="bandera">
    <h2>Escudo</h2>
    <div class="flex-container">
      <div class="flex-item">
        <p>El escudo tiene forma española, medio partido y cortinado, con una orla y una divisa, abrazado por un águila.</p>
        <p>En el cuadrante superior derecho, se representa una rueda dentada simbolizando el progreso, superpuesta a un caduceo. El caduceo es un símbolo de la paz y el comercio.</p>
        <p>En el cuadrante superior izquierdo, se visualiza un toro en posición de paso. El toro es un símbolo de la fuerza y la virilidad.</p>
        <p>En el campo inferior, o la parte más baja, se muestra el puente del ferrocarril en perspectiva. El puente del ferrocarril es un símbolo de la conexión de Girardot con el resto del país.</p>
        <p>La orla exhibe cuatro cruces anchas con brazos pequeños, tres en la parte superior y una en la inferior. Además, incluye dos ramas de café que ascienden desde la parte inferior hasta la superior. El café es un símbolo de la economía de Girardot.</p>
        <p>La divisa que rodea la cabeza del águila lleva la inscripción "Siempre Adelante". Esta inscripción es un lema de la ciudad que representa su espíritu de progreso.</p>            </div>
      <div class="flex-item">
        <img class="imagen" src="assets/images/iconoalcaldia.png" alt="Escudo de Girardot, Cundinamarca">            </div>
    </div>
  </article>

  <article id="banderas">
    <h2>Bandera</h2>
    <div class="flex-container">
      <div class="flex-item">
        <p>La bandera de Girardot, Cundinamarca, es un símbolo de la ciudad que representa su historia y valores. Fue adoptada oficialmente en 1973.</p>
        <p>La bandera está compuesta por tres franjas horizontales:</p>
        <p>La primera, que abarca la mitad del estandarte, aparece en tono rojo y simboliza la sangre vertida por los valerosos soldados durante la guerra de los mil días. Girardot, como bastión liberal, fue testigo de intensas batallas.</p>
        <p>La segunda mitad de la bandera se divide en dos partes iguales. La franja central, de color blanco, representa la pureza de sus habitantes. El verde, por su parte, simboliza los campos y praderas que rodean la región.</p>
      </div>
      <div class="flex-item">
        <img class="imagen" src="assets/images/bandera.png" alt="Bandera de Girardot, Cundinamarca">
      </div>
    </div>
  </article>

  <article id="himno">
    <h2>Himno</h2>
    <p>El himno de Girardot, Cundinamarca, es un símbolo de la ciudad que representa su historia, cultura y valores. Fue compuesto por Alfonso Rodríguez Medina y Florentino Camacho Valderrama.</p>
    <p>El himno tiene seis estrofas y un coro. En las estrofas, se exaltan las bellezas naturales de la ciudad, su historia y su gente. El coro es una expresión de amor y orgullo por la ciudad.</p>
    <pre>
      <code class="language-html">
        <audio controls>
          <source src="assets/images/audio/himnogirardot.mp3" type="audio/mpeg">
        </audio>
      </code>
      </pre>
  </article>
</section>

<div class="mi-separador-div"></div>

<div class="map-container">
  <h1 class="title-mapa">¿Cómo llegar a Girardot, Cundinamarca?</h1>
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m26!1m12!1m3!1d7957.086889420717!2d-74.80480420878709!3d4.308432332662107!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m11!3e0!4m3!3m2!1d4.3122688!2d-74.7962368!4m5!1s0x8e3f28ec54308e5f%3A0xad9e09275aa20260!2sGirardot%2C%20Cundinamarca!3m2!1d4.3045959!2d-74.8031414!5e0!3m2!1ses!2sco!4v1717331302911!5m2!1ses!2sco"
    width="600"
    height="500"
    style="border:0;"
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade">
  </iframe>
</div>










