<div class="container user-registration-form">
  <img src="assets/images/bandera.png" alt="Imagen de fondo" class="background-image">
  <h2>Inicio de Sección TuristExplor</h2>
  <form [formGroup]="crearForm" (ngSubmit)="onSubmit()">
    <!-- inicio correo electrónico -->
    <div class="form-group">
      <label for="email">Correo Electrónico</label>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <i *ngIf="crearForm.get('email')?.valid || !crearForm.get('email')?.touched" class="fas fa-envelope"></i>
            <i *ngIf="crearForm.get('email')?.invalid && crearForm.get('email')?.touched" class="fas fa-times-circle text-danger"></i>
          </span>
        </div>
        <input type="email" id="email" formControlName="email" placeholder="Ingresa tu Correo Electrónico" class="form-control">
      </div>
      <div
        *ngIf="crearForm.get('email')?.invalid && (crearForm.get('email')?.dirty || crearForm.get('email')?.touched)">
        <div class="text-danger" *ngIf="crearForm.get('email')?.errors?.['required']">El correo electrónico es
          obligatorio.</div>
        <div class="text-danger" *ngIf="crearForm.get('email')?.errors?.['email']">Ingresa un correo electrónico válido.
        </div>
      </div>
    </div>
    <!-- fin correo electrónico -->

    <!-- inicio contraseña electrónico -->
    <div class="form-group">
      <label for="password">Contraseña</label>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <i *ngIf="crearForm.get('password')?.valid || !crearForm.get('password')?.touched" class="fas fa-lock"></i>
            <i *ngIf="crearForm.get('password')?.invalid && crearForm.get('password')?.touched"
              class="fas fa-times-circle text-danger"></i>
          </span>
        </div>
        <input formControlName="password" type="password" class="form-control" id="password"
          placeholder="Ingrese su Contraseña">
      </div>
      <div
        *ngIf="crearForm.get('password')?.invalid && (crearForm.get('password')?.dirty || crearForm.get('password')?.touched)">
        <div class="text-danger" *ngIf="crearForm.get('password')?.errors?.['required']">La contraseña es requerida.
        </div>
        <div class="text-danger" *ngIf="crearForm.get('password')?.errors?.['minlength']">Debe tener al menos 10
          caracteres.</div>
      </div>
    </div>
    <!-- fin contraseña electrónico -->

    <!-- Botones -->
    <div class="form-group">
      <button type="submit" class="custom-btn primary-btn">Iniciar Sección</button>
      <button type="button" class="custom-btn secondary-btn" style="margin-left: 10px;"(click)="limpiarFormulario()">Limpiar</button>
      <button type="button" class="custom-btn info-btn" style="margin-left: 10px;" (click)="volver()">Volver</button>
    </div>
    <!-- Fin Botones -->
    <div class="form-group" style="margin-top: 10px;">
      <a class="custom-link" (click)="goToRegister()">¿No tienes una cuenta? Regístrate</a>
      <a class="custom-link" (click)="goToForgetPassword()">¿Olvidaste tu contraseña?</a>
    </div>
  </form>
</div>